.ProjectList {
    list-style: none;
    font-size: 20px;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box {
    margin: 20px;
    margin-left: 1px;
}
  
  .ProjectList > div {
    flex-basis: calc(50% - 40px);
  }