.introDesc {
    display: grid;
    padding: 1rem;
    grid-template-columns: 700px 100px;
    align-items: center;
    max-width: 100px;
    margin: 10px;
  }

.profile {
    width:100px; 
    height:100px;
    padding-left: 10px;
    margin-top: -200px;
}

.connect {
    margin: 30px;
    font-style: bold;
}

.buttonContact {
    margin: 30px;
}