.inputStyle {
    border-radius: 25px;
    border: solid 1px white;
    background: transparent;
    width: 400px;
    padding: 10px 
}

input, input::-webkit-input-placeholder {
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    color: white;
    background: transparent;
    width: 400px;
}


i {
    padding: 5px;
    color: white
}

input,
input:focus {
    border: none;
    outline: 0;
    -webkit-appearance: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}


