.navList {
  list-style-type: none;
  width: 100%;
  background-color: #936E9E;
  overflow: auto;
  font-family: 'Kanit';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 45px;
  float:right;
}


.about {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.about:hover:not(.active) {
  background-color: rgb(191, 191, 214);
  color: #636FA4;
}

.experience {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.experience:hover:not(.active) {
  background-color: rgb(191, 191, 214);
  color: #636FA4;
}

.projects {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.projects:hover:not(.active) {
  background-color: rgb(191, 191, 214);
  color: #636FA4;
}

.contact {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.contact:hover:not(.active) {
  background-color: rgb(191, 191, 214);
  color: #636FA4;
}
