img {
    height: 50px;
    width: 50px;
}

.socialIcons {
    float: left;
    padding: 20px;
}

.ContactForm {
    padding: 30px;
}

.SocialIcons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: center;
}