.ContactTitle {
    display: flex;
    justify-content: center;
}

.SocialDescription {
    display: flex;
    justify-content: center;
}

.socialIcons {
    float: left;
    padding: 20px;

}

.ContactForm {
    padding: 30px;
}

.socialList {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.socialIcons:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}