.experienceList {
    list-style-type: none;
    padding: 10px;
    padding-right: 100px;
    font-size: 15px;
    line-height: 40px;
}

.experienceDescription {
    padding: 10px;
    line-height: 30px;
}

.navigation {
    border-right: solid 1px;
    padding-right: 10px;
}

.jobs {
    width: 200px;  
    height: 35px;  
    display: flex;  
    align-items: center;  
    margin: 1.5em;  
    cursor: pointer;  
    padding: 1em;  
    position: relative;  
    color: rgb(59, 56, 56);  
    border-radius: 5px;  
}

.jobs:hover {
    background:lavender;  
}