.navigation {
  background-color: #333;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

.about {
  float: left;
  padding: 30px;
}

.about:hover:not(.active) {
  background-color: rgb(191, 191, 214);
}

.experience {
  float: left;
  padding: 30px;
}

.experience:hover:not(.active) {
  background-color: rgb(191, 191, 214);
}

.projects {
  float: left;
  padding: 30px;
}

.projects:hover:not(.active) {
  background-color: rgb(191, 191, 214);
}

.contact {
  float: left;
  padding: 30px;
}

.contact:hover:not(.active) {
  background-color: rgb(191, 191, 214);
}
