body {
    background: whitesmoke;
}


.Introduction {
    padding: 50px;
    margin: 200px;
    background-color: tomato;
}

.AboutMe {
    padding: 50px;
    margin: 200px;
    background-color: tomato;
}

.Experience {
    padding: 50px;
    margin: 200px;
    background-color: tomato;
}

.Work {
    padding: 50px;
    margin: 150px;
}

.Contact {
    padding: 50px;
    margin: 200px;
    background-color: tomato;
}